html {
    display: flex;
    align-content: center;
    justify-content: baseline;
    align-items: stretch;
}

.header {
    margin-top: 20px;
}

#quarter{
    align-content: center;
}

#saveProfile {
    margin-bottom: 5px;
}

label {
    margin-right: 15px;
}