html {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
#day-picker{
    width: 350px;
}

#time-range {
    display: flex;
    justify-content: center;
}

#time-range div {
    margin: 0 1rem;
}

#availability-display {
    border: 1px solid black;
    margin: 0 auto;
    width: 80%;
}

tr:nth-child(even) {
    background-color: lightgray
}

#updateAvailability {
    color: white;
    background-color: #1B3768;
}