:root {
    background-color: #1B3768;
    display: flex;
}

a {
    margin: 1rem;
    text-decoration: none;
    background-color: lightgray;
    padding: .5rem;
}

.App {
    text-align: center;
    background-color: white;
    padding-bottom: 20px;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1B3768;
    /* overflow x hides the links */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    font-size: 25px;
    color: #111111;
    display: block;
    transition: 0.3s;
    background-color: #ffffff;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bolder;
    font-size: 10px;
    background-color: #f75e54;
    width: 2px;
    text-align: center;
}

#menu {
    position: absolute;
    top: 0;
    left: 0;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

#kalenzieLogo {
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
}

#avatar {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    margin: 5px 10px 0 0;
}